# =========================
# .NET build output
# =========================
bin/
obj/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Rider / VS Code
# =========================
.idea/
.vscode/

# =========================
# ASP.NET
# =========================
wwwroot/lib/
wwwroot/dist/

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
Thumbs.db
.DS_Store

# =========================
# NuGet
# =========================
*.nupkg
packages/